.header {
  width: 100%;
  .header__logo {
    max-width: 200px;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #0070b2;
  }

  .btn-search {
    position: absolute;
    right: 25px;
  }

  & .fixedNav {
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fffdfdeb;
    z-index: 30;
    color: #e6e4e4d4;
    align-items: center;
    display: flex;

    .container {
      display: flex;
      justify-content: space-around;

      .ord {
        order: 2;
        
        ul {
          margin: 0 !important;
        }
      }
    }
  }
  .closeElement,
  .show-element,
  .btnSearch {
    display: none;
  }
  .showElement {
    display: block;
  }
  .scroll-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
    display: none;
    input {
      height: 42px;
      width: 0;
      padding: 0 42px 0 15px;
      border: none;
      border-bottom: 2px solid transparent;
      outline: none;
      background: transparent;
      transition: .4s cubic-bezier(0, 0.8, 0, 1);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
    }
    input:focus {
      width: 300px;
      z-index: 1;
      border: 1px solid #ced4da;
      border-radius: .25rem;
    }
    button {
      border: none;
      height: 42px;
      width: 42px;
      position: absolute;
      top: 0;
      right: 0;
      background: inherit;
    }
  }
  .scrollForm {
    display: block;
  }
}
.fix-p {
  padding-top: 100px;
}

/*           Menu-gamburger          */

/* button starting stylings ------------------------------- */
.toggle-hamburger {
  color: rgb(134, 135, 135);
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 75px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
}
.toggle-hamburger:focus {
  outline: none;
}
/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  right: 18px;
  height: 3px;
  background: rgb(134, 135, 135);
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(134, 135, 135);
  content: "";
}
.toggle-hamburger span::before {
  top: -10px;
}
.toggle-hamburger span::after {
  bottom: -10px;
}
.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.1s, 0s;
}
.toggle-hamburger.toggle-hamburger__animx span::before {
  transition-property: top, transform;
}
.toggle-hamburger.toggle-hamburger__animx span::after {
  transition-property: bottom, transform;
}

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: rgb(134, 135, 135);
  transition-delay: 0s, 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/*            fixedNav menu                  */

